<div><h1>Recuperação de senha</h1></div>
<h2>Olá, {{ user.name }}.</h2>
<p>Recebemos sua solicitação para recuperação de senha, caso não tenha sido você quem solicitou desconsidere este e-mail e
    continue usando sua senha atual.</p>
<p>Para recuperar sua senha senha clique neste botão.
    <a href="http://127.0.0.1:5500/index.html#!/change-password?token={{ token }}">
        <button>Recuperar sua senha</button>
    </a>
</p>
<p>Este e-mail é automático e expira em 1 hora, por favor não responder.</p>
